<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="arillo is responsive html real estate theme">
    <meta name="author" content="afriq yasin ramadhan">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Arillo</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,800' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
  <body id="top">

    <!-- begin:navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><span>Ari<strong>llo.</strong></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-top">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="index.html">صفحه اصلی</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">ویژگی <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="search.html">جستجو</a></li>
                <li><a href="search_list.html">جستجو پیشرفته</a></li>
                <li><a href="category.html">دسته بندی</a></li>
                <li><a href="category_list.html">دسته بندی پیشرفته</a></li>
                <li><a href="single.html">تک صفحه ای</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">صفحه <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">آرشیو وبلاگ</a></li>
                <li><a href="blog_single.html">وبلاک تک صفحه ای</a></li>
                <li><a href="about.html">درباره ما</a></li>
                <li><a href="contact.html">تماس با ما</a></li>
              </ul>
            </li>
            <li><a href="#modal-signin" class="signin" data-toggle="modal" data-target="#modal-signin">ورود به سایت</a></li>
            <li><a href="#" class="signup" data-toggle="modal" data-target="#modal-signup">ثبت نام</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <!-- end:navbar -->
<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <!-- begin:header -->
    <div id="header" class="heading" style="background-image: url(img/img01.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="page-title">
              <h2>وبلاگ</p>
            </div>
            <ol class="breadcrumb">
                            <li class="active">وبلاگ</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end:header -->

    <!-- begin:content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="blog-container">
              <div class="blog-image" style="background-image: url(img/img11.jpg);">
                <div class="blog-author"><img src="img/avatar.png" alt="afriq - blog author"> <a href="#">Kuriman</a> on June 30, 2014</div>
              </div>
              <div class="blog-content">
                <div class="blog-title">
                  <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و </h2>
                  <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و </h3>
                </div>

                <div class="blog-text">
                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه </p>
                  <p><a href="blog_single.html" class="btn btn-primary">بیشتر <i class="fa fa-arrow-circle-o-right"></i></a></p>
                </div>

              </div>
            </div>
            <!-- break -->

            <div class="blog-container">
              <div class="blog-image" style="background-image: url(img/img16.jpg);">
                <div class="blog-author"><img src="img/avatar.png" alt="afriq - blog author"> <a href="#">Kuriman</a> on June 30, 2014</div>
              </div>
              <div class="blog-content">
                <div class="blog-title">
                  <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و </h2>
                  <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و </h3>
                </div>

                <div class="blog-text">
                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه </p>
                  <p><a href="blog_single.html" class="btn btn-primary">بیشتر <i class="fa fa-arrow-circle-o-right"></i></a></p>
                </div>

              </div>
            </div>
            <!-- break -->

            <div class="blog-container">
              <div class="blog-image" style="background-image: url(img/img17.jpg);">
                <div class="blog-author"><img src="img/avatar.png" alt="afriq - blog author"> <a href="#">Kuriman</a> on June 30, 2014</div>
              </div>
              <div class="blog-content">
                <div class="blog-title">
                  <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و </h2>
                  <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و </h3>
                </div>

                <div class="blog-text">
                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه </p>
                  <p><a href="blog_single.html" class="btn btn-primary">بیشتر <i class="fa fa-arrow-circle-o-right"></i></a></p>
                </div>

              </div>
            </div>

            <div class="blog-paged">
              <ul class="pager">
                <li class="previous disabled"><a href="#">&larr; پیام جدیدتر</a></li>
                <li class="next"><a href="#">پیام قدیمی تر &rarr;</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end:content -->
<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <!-- begin:subscribe -->
    <div id="subscribe">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-2 col-sm-8 col-xs-12">
            <h3>خبرنامه</h3>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="input-group">
              <input type="text" class="form-control input-lg" placeholder="Enter your mail">
              <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-envelope"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:subscribe -->

    <!-- begin:footer -->
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
              <h3>املاک و مستغلات ثبت شده</h3>
              <ul class="list-unstyled">
                <li><a href="#">Apartments</a></li>
                <li><a href="#">Office</a></li>
                <li><a href="#">Bungalows</a></li>
                <li><a href="#">Serviced Residence</a></li>
                <li><a href="#">Villa</a></li>
              </ul>
            </div>
          </div>
          <!-- break -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
              <h3>لورم ایپسوم متن ساختگی</h3>
              <ul class="list-unstyled">
                <li><a href="#">Lorenso</a></li>
                <li><a href="#">Bardiman</a></li>
                <li><a href="#">Tarjono noto boto limo</a></li>
                <li><a href="#">Surti</a></li>
                <li><a href="#">Ngatinem</a></li>
              </ul>
            </div>
          </div>
          <!-- break -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
              <h3>ویژگی ها</h3>
              <ul class="list-unstyled">
                <li><a href="#">My Account</a></li>
                <li><a href="#">How To</a></li>
                <li><a href="#">Market Trend</a></li>
                <li><a href="#">Android App</a></li>
                <li><a href="#">IOS App</a></li>
              </ul>
            </div>
          </div>
          <!-- break -->
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
              <h2>Arillo.</h2>
              <address>
                <strong>موضوع املاک و مستغلات.</strong><br>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <br>
                <br>
                Telp. : +98-123456789<br>
                Email : Info@Barnamenevisan.Org
              </address>
            </div>
          </div>
          <!-- break -->
        </div>
        <!-- break -->

        <!-- begin:copyleft -->
        <div class="row">
          <div class="col-md-12 copyleft">
                        <p>کلیه حقوق مادی و معنوی برای مجموعه برنامه نویسان محفوظ می باشد . هر گونه کپی برداری از محتوای آموزشی با ذکر منبع مجاز می باشد.</p>

            
            <a href="#top" class="btn btn-primary scroltop"><i class="fa fa-angle-up"></i></a>
            <ul class="list-inline social-links">
              <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="icon-gplus" rel="tooltip" title="" data-placement="bottom" data-original-title="Gplus"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- end:copyleft -->

      </div>
    </div>
    <!-- end:footer -->
<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <!-- begin:modal-signin -->
  <div class="modal fade" id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="modal-signin" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Sign in</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="emailAddress">ایمیل</label>
                <input type="email" class="form-control input-lg" placeholder="ایمیل">
              </div>
              <div class="form-group">
                <label for="password">کلمه عبور</label>
                <input type="password" class="form-control input-lg" placeholder="کلمه عبور">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="forget"> مرا بخاطر بسپار
                </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <p>آیا ثبت نام نکرده اید ? <a href="#modal-signup"  data-toggle="modal" data-target="#modal-signup">ثبت نام</a></p>
            <input type="submit" class="btn btn-primary btn-block btn-lg" value="ورود به سایت">
          </div>
        </div>
      </div>
    </div>
    <!-- end:modal-signin -->

    <!-- begin:modal-signup -->
    <div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="modal-signup" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">ثبت نام</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <input type="ایمیل" class="form-control input-lg" placeholder="ایمیل">
              </div>
              <div class="form-group">
                <input type="کلمه عبور" class="form-control input-lg" placeholder="کلمه عبور">
              </div>
              <div class="form-group">
                <input type="تکرار کلمه عبور" class="form-control input-lg" placeholder="تکرار کلمه عبور">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="agree"> آیا با قوانین <a href="#">سایت ما موافق هستید؟</a> 
                </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <p>آیا ثبت نام کرده اید؟ <a href="#modal-signin" data-toggle="modal" data-target="#modal-signin">ورود به سایت.</a></p>
            <input type="submit" class="btn btn-primary btn-block btn-lg" value="ثبت نام">
          </div>
        </div>
      </div>
    </div>
    <!-- end:modal-signup -->
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
     <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="js/gmap3.min.js"></script>
    <script src="js/jquery.easing.js"></script>
    <script src="js/jquery.jcarousel.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.backstretch.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
<!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->

